<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.carryj.root.contactbook">

    <!-- 拨打电话权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- 读取联系人权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- 写入联系人权限 -->
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <!-- 读取通话记录权限 -->
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <!-- 写入通话记录权限 -->
    <uses-permission android:name="android.permission.WRITE_CALL_LOG" />
    <!-- 网络通信权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 写入SD卡权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 读取SD卡权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- SDCard中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <!-- 读取本机状态权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>


    <application
        android:name=".ContactBookApplication"
        android:allowBackup="true"
        android:icon="@drawable/contact_book_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--
     ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".BaseFragmentActivity" />
        <activity android:name=".RecordItemInDetailActivity" />
        <activity android:name=".ContactPersonalShowActivity" />
        <activity android:name=".AddCollectActivity" />
        <activity android:name=".AddContactActivity" />
        <activity android:name=".activity.ShowORCodeActivity" />
        <activity android:name=".activity.BackupActivity"></activity>
        <activity android:name=".activity.LoginActivity"></activity>
        <activity android:name=".activity.LoginRegisterActivity"></activity>
        <activity android:name=".activity.RegisterActivity"></activity>
    </application>

</manifest>